<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    
    <main>
        <p>Page not found.......</p>
    </main>
    <div class=" coded container">
        <%- include('../partials/footer.ejs') %>
     </div>
</body>
</html>